:root
{
    /*Colores modo claro*/
    --font-color-light-1: #333;
    --font-color-Light-2: #444;
    --font-color-light-3: #555;
    --font-color-light-4: #ffffff;
    --font-color-light-5: #937bdd;
    --bg-color-light-1: #ffffff;
    --bg-color-light-2: #D6DDE3;
    --bg-color-light-3: #B6BAD4;
    --bg-color-light-4: #9691A5;

    /*Colores modo oscuro*/
    --font-color-dark-1: #fff;
    --font-color-dark-2: #ddd;
    --font-color-dark-3: #ccc;
    --font-color-dark-4: #fff;
    --bg-color-dark-1: #2B2B2B;
    --bg-color-dark-2: #353739;
    --bg-color-dark-3: #3A4044;
    --bg-color-dark-4: #333333;
    --font-color-dark-5: #836fbe;

    /*General*/
    --shadow-color-1: #000A;
    --shadow-color-2: #0006;
    font-size: 22px;
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: color 0.5s, background-color 0.5s, border-color 0.5s;
}

body
{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color-light-1);
}

/*---------------------------------------------- Header ----------------------------------------------*/

.header
{
    width: 100%;
    min-height: 80px;
    background-color: var(--bg-color-light-2);
    box-shadow: 0 0 15px var(--shadow-color-1);
    margin: 0;
}

.header__nav
{
    margin: 0;
    width: 100%;
}

.header__list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: start;
}

.header__item
{
    margin: 0;
    list-style: none;
}

.header__a{
    font-size: 0.8rem !important;
    display: inline-block;
    width: 200px;
    height: 80px;
    align-content: center;
    text-align: center;
    background-color: var(--bg-color-light-3);
    color: var(--font-color-light-1);
    text-decoration: none;
}

.header__a:is(:hover, :active){
    color: var(--font-color-light-4);
    background-color: var(--bg-color-light-4);
}

.header__nav button
{
    font-size: 0.8rem !important;
    width: 200px;
    height: 80px;
    align-content: center;
    text-align: center;
    background-color: var(--bg-color-light-3);
    color: var(--font-color-light-1);
    border: none;
    cursor: pointer;
}

.menuButton
{
    display: none;
}

/* Cuando la clase 'visible' está presente, se muestra el menú */
.header__list.visible {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button-container
{
    display: flex;
    justify-content: center;
}

/*------------------------------------------- Main Profile -------------------------------------------*/

h1, h2, h3
{
    margin: 0;
    text-align: center;
    text-wrap: pretty;
    font-size: 1.2rem !important;
    color: var(--font-color-Light-2);
    margin-bottom: 20px;
}

h1
{
    color: var(--font-color-light-1);
    font-size: 1.2rem !important;
}

h2
{
    margin: 0;
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: var(--font-color-light-3);
}

h3
{
    font-size: 1rem;
}

.main__wrapper
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 40px;
    margin: 40px;
    max-width: 1224px;
    flex-grow: 1;
    align-items: stretch;
}

.main__wrapper-one-column
{
    grid-template-columns: repeat(1, 1fr);
}

.main__data-container, .aside__img-container, .aside__container
{
    background-color: var(--bg-color-light-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    box-shadow: 0 0 15px var(--shadow-color-2);
    border-radius: 10px;
    min-width: 500px;
    max-width: 100vw;
    height: 100%;
}

.main__p
{
    color: var(--font-color-light-3);
    font-size: 0.8rem;
    text-align: justify;
}

img
{
    width: 100px;
}

.slide
{
    width: 100%;
    height: 100%;
}

.main__img
{
    width: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.main__iframe
{
    width: 100%;
    aspect-ratio: 16/9;
    max-width: 100%;
}

.aside__img-container
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.aside__fleximg-container
{
    display: flex;
    align-items: center;
}

.aside__gallery
{
    height: 100vh;
}

.index-aside
{
    background-image: url("https://cdna.artstation.com/p/assets/images/images/075/917/646/large/gabriel-parra-4.jpg?1715737858");
}

.contact-aside
{
    background-image: url("https://cdna.artstation.com/p/assets/images/images/053/765/784/large/gabriel-parra-1.jpg?1662995066");
}

.studies-aside
{
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/079/665/523/large/gabriel-parra-02.jpg?1725490217");
}

.videos-aside
{
    background-image: url("https://cdna.artstation.com/p/assets/images/images/053/765/784/large/gabriel-parra-1.jpg?1662995066");
}

.main__form
{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.form__input, .form__input button
{
    padding: 10px 0;
    font-size: 0.8rem;
    color: var(--font-color-light-3);
}

.form__input button
{
    background-color: var(--bg-color-light-3);
    color: var(--font-color-Light-2);
    width: 100%;
    border: none;
}

.form__input button:hover
{
    background-color: var(--bg-color-light-4);
    color: var(--font-color-light-4);
}

.form__input button:active
{
    opacity: .7;
}

input, textarea
{
    width: 100%; 
    box-sizing: border-box;
    padding: 10px;
    border: none;
    background-color: var(--bg-color-light-1);
    color: var(--font-color-light-3);
}

textarea
{
    font-family: sans-serif;
    min-width: 100%;
    min-height: 100px;
    resize: none;
}

.main__table, tr,th,td,tbody,thead
{
    padding: 0;
    border: 1px solid var(--bg-color-light-4);
    color: var(--font-color-light-3);
}

.container__gallery
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(1fr, 250px));
    grid-template-rows: repeat(6, minmax(1fr, 250px));
    grid-auto-flow: dense;
    gap: 5px;
    background-color: transparent;
    overflow: scroll;
    overflow-y: visible;
    overflow-x: hidden;
}

.gallery__item
{
    min-height: 500px;
    background-color: var(--bg-color-light-4);
    background-image: url("https://cdna.artstation.com/p/assets/images/images/050/073/152/large/jesus-parra-conehex.jpg?1654005521");
    background-size: cover;
    background-position: center;
}

.gallery__item:nth-child(3n)
{
    grid-column: span 2;
}

.gallery__item:first-child
{
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/050/072/717/large/jesus-parra-buzo2.jpg?1654004616");
}

.gallery__item:nth-child(3)
{
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/050/072/641/large/jesus-parra-landscape.jpg?1654004454");
}

.gallery__item:nth-child(4)
{
    background-image: url("https://cdna.artstation.com/p/assets/images/images/050/073/022/large/jesus-parra-pez-binocular.jpg?1654005149");
}

.gallery__item:nth-child(5)
{
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/050/132/535/large/gabriel-parra-finn.jpg?1654122686");
}

.gallery__item:nth-child(6)
{
    background-position: right;
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/050/073/525/large/gabriel-parra-food-truck-7.jpg?1654006090");
}

.gallery__item:nth-child(7)
{
    background-image: url("https://cdna.artstation.com/p/assets/images/images/050/073/968/large/gabriel-parra-pixelart13.jpg?1654006741");
}

.gallery__item:nth-child(8)
{
    background-position: top;
    background-image: url("https://cdna.artstation.com/p/assets/images/images/068/635/408/large/gabriel-parra-2.jpg?1698286993");
}

.gallery__item:last-child
{
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/050/073/911/large/gabriel-parra-pixelart16.jpg?1654006688");
}

.projects_ul
{
    list-style: none;
    text-wrap: pretty;
    font-size: 0.8rem;
}

.project_ul
{
    margin: 20px;
    text-wrap:pretty;
    font-size: 0.8rem;
}

.projects_item
{
    color: var(--font-color-light-3);
    margin: 20px;
}

.projects_item a
{
    color: var(--font-color-light-5);
    text-decoration: none;
}

.projects_item a:hover
{
    text-decoration: underline;
}

/*---------------------------------------------- Footer ----------------------------------------------*/

.footer
{
    width: 100%;
    height: 200px;
    font-size: 0.8rem;
    color: var(--font-color-light-3);
    background-color: var(--bg-color-light-3);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px var(--shadow-color-1);
}

.footer__p
{
    text-align: center;
}

/*------------------------------------------- Media Queries --------------------------------------------*/
@media screen and (max-width: 1080px)
{
    .main__wrapper
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .main__data-container, .aside__img-container, .aside__container
    {
        min-width: auto;
        min-height: 500px;
    }
    .container__gallery
    {
        grid-template-columns: minmax(1fr, 250px);
    }
    .gallery__item:nth-child(3n)
    {
        grid-column: 1;
    }
    .gallery__item
    {
        min-height: 200px;
    }
    .aside__gallery
    {
        height: 50vh;
    }
    .header__list
    {
        display: none;
        
    }
    .menuButton
    {
        display: block;
    }
}

/*------------------------------------------- Dark Mode Section --------------------------------------------*/

/* Body */
body.dark-mode {
    background-color: var(--bg-color-dark-1);
}

body.dark-mode .header {
    background-color: var(--bg-color-dark-2);
    box-shadow: 0 0 15px var(--shadow-color-1);
}

body.dark-mode .header__a{
    background-color: var(--bg-color-dark-3);
    color: var(--font-color-dark-1);
}

body.dark-mode .header__a:is(:hover, :active) {
    color: var(--font-color-dark-4);
    background-color: var(--bg-color-dark-4);
}

body.dark-mode .header button
{
    background-color: var(--bg-color-dark-3);
    color: var(--font-color-dark-2);
}

/* Main Titles */
body.dark-mode h1 {
    color: var(--font-color-dark-1);
}

body.dark-mode h2 {
    color: var(--font-color-dark-3);
}

body.dark-mode h3 {
    color: var(--font-color-dark-2);
}

/* Main Content Containers */
body.dark-mode .main__data-container,
body.dark-mode .aside__img-container,
body.dark-mode .aside__container {
    background-color: var(--bg-color-dark-2);
}

/* Paragraphs */
body.dark-mode .main__p {
    color: var(--font-color-dark-3);
}

/* Forms */
body.dark-mode .form__input, 
body.dark-mode .form__input button {
    color: var(--font-color-dark-3);
}

body.dark-mode .form__input button {
    background-color: var(--bg-color-dark-3);
    color: var(--font-color-dark-2);
}

body.dark-mode .form__input button:hover {
    background-color: var(--bg-color-dark-4);
    color: var(--font-color-dark-4);
}

body.dark-mode input, 
body.dark-mode textarea {
    background-color: var(--bg-color-dark-1);
    color: var(--font-color-dark-3);
}

body.dark-mode .projects_item
{
    color: var(--font-color-dark-3);
    margin: 20px;
}

body.dark-mode .projects_item a
{
    color: var(--font-color-dark-5);
    text-decoration: none;
}

body.dark-mode .projects_item a:hover
{
    text-decoration: underline;
}

/* Table */
body.dark-mode .main__table, 
body.dark-mode tr, 
body.dark-mode th, 
body.dark-mode td, 
body.dark-mode tbody, 
body.dark-mode thead {
    border: 1px solid var(--font-color-dark-3);
    color: var(--font-color-dark-3);
}

/* Gallery Items */
body.dark-mode .gallery__item {
    background-color: var(--bg-color-dark-4);
}

/* Footer */
body.dark-mode .footer {
    background-color: var(--bg-color-dark-3);
    color: var(--font-color-dark-3);
}